.title {
  color: #FFF;
}

.bookings {
  padding: 20px;
  margin-bottom: 10px;
  background: #FFF;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bookings img {
  height: 100px;
}

.bookings button {
  border: 0;
  background: #FFF;
}

footer button {
  border: 0;
  display: flex;
  padding: 10px;
  text-transform: uppercase;
  border-radius: 4px;
  margin-top: 10px;
  font-weight: bold;
}
